:root {
  --dangerColor: crimson;
  --dangerColorHover: darkred;
}

body {
  background-color: darkslategrey;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  margin: 0;
}

.content {
  width: 300px;
}

.button-container {
  text-align: center;
}

#emergencyButton {
  appearance: none;
  height: 52px;
  width: 250px;
  font-weight: 600;
  background-color: var(--dangerColor);
  color: white;
  border-radius: 5px;
  transition: all;
  transition-duration: 300ms;
  border: solid 1px var(--dangerColor);
}

#emergencyButton:hover {
  background-color: var(--dangerColorHover);
  border-color: var(--dangerColorHover);
}

#processInfo {
  text-align: center;
  font-weight: 400;
}


.hidden {
  display: none;
}

#successText {
  font-size: larger;
  font-weight: 700;
  color: forestgreen;
}